* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
}

#section1 {
  height: 100%;
  padding: 4px;
  border: 8px solid #111;
  flex-grow: 1;
  background-image: url(https://i.pinimg.com/736x/64/fa/11/64fa119c4f6d984091b394479c99a2a0.jpg);
  background-size: cover;
  background-position: center;
}
#section1:hover{
     flex-grow: 2;
     transition: all linear 0.7s;
     cursor: pointer;
     
}

#section2 {
  height: 100%;
  padding: 4px;
  border: 8px solid #111;
  flex-grow: 1;
  background-image: url(https://i.pinimg.com/736x/97/0b/85/970b85bbff95604844913989001f1773.jpg);
  background-size: cover;
  background-position: center;
}

#section2:hover{
     flex-grow: 2;
     transition: all linear 0.7s;
     cursor: pointer;
    }

#section3 {
  height: 100%;
  padding: 4px;
  border: 8px solid #111;
  flex-grow: 1;
  background-image: url(https://i.pinimg.com/736x/5a/eb/d4/5aebd4281827d116b43900ba937d3fd7.jpg);
  background-size: cover;
  background-position: center;
}
#section3:hover{
     flex-grow: 2;
     transition: all linear 0.7s;
     cursor: pointer;
    }


#section4 {
  height: 100%;
  padding: 4px;
  border: 8px solid #111;
  flex-grow: 1;
  background-image: url(https://i.pinimg.com/1200x/e2/ad/f9/e2adf9056d37dabfe5c586ca16755810.jpg);
  background-size: cover;
  background-position: center;
}
#section4:hover{
     flex-grow: 2;
     transition: all linear 0.7s;
     cursor: pointer;
    }

#section5 {
  height: 100%;
  padding: 4px;
  border: 8px solid #111;
  flex-grow: 1;
   background-image: url(https://i.pinimg.com/736x/a9/7d/0b/a97d0b0077263f8c3e9e82032fa17ef7.jpg);
  background-size: cover;
  background-position: center;
}
#section5:hover{
     flex-grow: 2;
     transition: all linear 0.7s;
     cursor: pointer;
    }
